* {box-sizing: 0; margin: 0; padding: 0;}
body {
  background-color: #23252C;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
}

main {
  margin-top: 5%;
  margin-left: 40%;
  border: 2px solid #918E9B;
  width: 320px;
  height: 800px;
  background-color: #1A1B21;
  border-radius: 10px;
}



img.pfp {
  width: 100%;
  border-radius: 10px;
  border-bottom: 1px solid black;
}

div.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.name {
  font-size: 25pt;
  font-weight: 600;
}

h4.role {
  color: #F3BF99;
  font-size: 12.8pt;
  font-weight: 400;
  margin-top: 3px;
}

p.website {
  font-size: 10.24pt;
  margin-top: 10px;
  line-height: 150%;
  cursor: pointer;
}

div.buttons {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

div.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid white;
  width: 115px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}

div.email {
  background-color: white;
  color: #374151;
  border-color: #D1D5DB;
}

div.about {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

h1.aboutTitle {
  line-height: 150%;
  color: #F5F5F5;
  font-size: 16pt;
  font-weight: 600;
}

div.interests {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

p.paragraph {
  line-height: 150%;
  font-size: 10.24pt;
  color: #DCDCDC;
}

div.footer {
  margin-top: 10px;
  background-color: #161619;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 64px;
}

img.icon {
  cursor: pointer;
}