body {margin:0; width: 100vw; background-color: #21222A;}
* {font-family: 'Inter', sans-serif; box-sizing: 0;}
.container { width: 100vw; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column;}
nav.nav {
  display: flex;
  flex-direction: row;
  background-color: #21222A;
  width: 550px;

}

img.logo {
  margin: 10px;
  margin-top: 20px;
  
  height: 30px;
}

h3.facts {
  margin-top: 25px;
  margin-right: auto;
  color: #61DAFB;
  font-size: 20px;
  font-weight: 700;
}

h4.title {
  margin-top: 25px;
  color: #DEEBF8;
  margin-right: 10px;
  font-weight: 600;
}

main {
  background-color: #282D35;
  width: 550px;
  color: #FFFFFF;
  padding-bottom: 100px;
  border-radius: 1.3em;
  background-image: url(./reacticon.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
}

main > h1 {
  font-size: 39px;
  padding-top: 30px;
  margin-left: 30px;
  letter-spacing: -0.05em;
}

main > ul {
  margin-top: 30px;
}

main li {
  margin: 25px;
  font-weight: 200;
  letter-spacing: 0.005em;
  max-width: 300px;
}

main li::marker {
  font-size: 1.5em;
  color: #61DAFB;
}