* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  padding: 20px; /* Update to have consistent padding on all sides */
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #E91E63;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.book-item {
  flex-basis: calc(20% - 20px);
  padding: 20px;
  background-color: #424242;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: calc(20% - 20px);
}

.book-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #E91E63;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.book-details {
  font-size: 16px;
  margin-bottom: 5px;
}
