* {
  box-sizing: border-box; margin: 0; padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 400px;
  align-self: center;
}

.hero--header {
  margin-bottom: 16px;
  font-weight: 600;
}

.hero--text {
  margin-top: 0;
}

.card {
  margin-left: 20px;
}

.ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 175px;
  line-height: 110%;
}

.ratings > * {
  margin-top: 2px;
  margin-right: 3px;
}

.ratingamount, .origin {
  color: #918E9B;
}

.origin::before {
  content: "• "
}

.star {
  width: 14px;
  height: 14px;
}

.photo {
  width: 175px;
}

.title {
  margin-top: 4px;
  max-width: 175px;
  color: #222222;
  font-size: 12px;
  line-height: 110%;
}

.pricing {
  margin-top: 5px;
  line-height: 110%;
  font-weight: 600;
  color: #222222;
  font-size: 12px;
}

.pricing::after {
  content:" / person";
  font-weight: 300;
}